

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Next-LT-Pro-Bold_5182.eot');
    src: url('Avenir-Next-LT-Pro-Bold_5182.eot?#iefix') format('embedded-opentype'),
         url('Avenir-Next-LT-Pro-Bold_5182.woff2') format('woff2'),
         url('Avenir-Next-LT-Pro-Bold_5182.woff') format('woff'),
         url('Avenir-Next-LT-Pro-Bold_5182.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'supermarket';
    src: url('supermarket.eot');
    src: url('supermarket.eot?#iefix') format('embedded-opentype'),
         url('supermarket.woff2') format('woff2'),
         url('supermarket.woff') format('woff'),
         url('supermarket.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
